
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>

    <img src="~/images/greenPeace.jpg" class="logo"/>
    <h1>This is index page</h1>
</body>
</html>
